body{
  background-color: #fae19d;
  justify-content: center;
  display:flex;
  align-items: center;
}
html,body{
  height: 100%;
}

.container{

  height:500px;
  width:500px;
  display:grid;
  grid-template-columns: repeat(3,1fr);
   /* grid-template-rows: repeat(4,4fr) ; */
   gap:1em;
}
h1{
  text-align: center;
}
.card{
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius:10px;
  
}
.card img{
  height:80%;
  width:80%;
  transform:scale(0)
}
.card.active{
  pointer-events: none;
}
.card.wrong{
  background-color:#fd245a;
}
.card.active img{
  transform:scale(1);
  
}
.card.correct{
  background-color: rgb(69, 210, 69);
}